footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.permalink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3 rem;
}

@media screen and (max-width: 600px) {
    .permalink {
        flex-direction: column;
        gap: 1.5rem;
    }
}